# Build output
build/
DerivedData/
*.o
*.d
*.swiftdeps
*.swiftmodule
*.swiftdoc
*.swiftsourceinfo

# Xcode user state
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.resolved

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
